@import "../../styles/variables";

.Partners {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;

  &__title {
    text-align: start;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      max-width: 20%;
      width: 100%;
      height: auto;
    }
    &__item1 {
      content: url("../../img/Partner-1.png");
    }
    &__item2 {
      content: url("../../img/Partner-2.png");
    }
    &__item3 {
      content: url("../../img/Partner-3.webp");
    }
  }
}
